@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p');
/* 全体の背景と中央揃え */
body {
    background-color: #719bad;
    font-family: 'M PLUS 1p', sans-serif;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100vh;
}

/* タイトル */
h1 {
    margin-top: 0;
    color: #917347;
}

/*  body {*/
/*    font-family: 'Segoe UI', sans-serif;*/
/*    background-color: #f9f9f9;*/
/*    margin: 40px;*/
/*  }*/

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
  }

  th, td {
    padding: 12px 16px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
  }

  th {
    background-color: rgb(0, 63, 140);
    color: white;
    font-weight: bold;
  }

  tr:hover {
    background-color: #f1f1f1;
  }

  img {
    max-height: 60px;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: rgb(168, 74, 67);
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: rgb(135, 61, 54);
  }

  form {
    margin: 0;
  }
  
  /* 削除ボタン */
  .remove-button button {
	  background-color: rgb(128, 128, 128);
	      color: white;
	      padding: 6px 12px;
	      border: none;
	      border-radius: 4px;
	      cursor: pointer;
  }

  .remove-button button:hover {
      background-color: rgb(87, 87, 87);
      color: rgb(255, 255, 255);
  }
  
  input[type="button"] {
      background-color: rgb(168, 74, 67);
      color: white;
      padding: 6px 12px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type="button"]:hover {
      background-color: rgb(135, 61, 54);
    }
  
  h3 {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }

